body{
    margin: 0px;
    padding: 0px; 
    background-color:aqua;
}
.section{
    border: 2px solid black;
    margin: auto;
    bottom: 90svh;
    height: 900px;
    background-color:aliceblue;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 100%
}
.info{
    position: absolute;
    bottom: 15svh;
    margin: 0px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: cornsilk;
}
.dato{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.name{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.dir{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.em{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.git{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.hub{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.aca{
    margin: 0px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: cornsilk;
    position: relative;
    left: 45%;
}
.exp{
    position: absolute;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: cornsilk;
}